:root{
    --black: rgba(44, 62, 80,1);
    --green: rgba(26, 188, 156,1);
    --white: rgba(255, 255, 255,1);
    --grey: rgba(58, 84, 109,1);
    --dark-grey: rgba(44, 62, 80,1);

}


body{
    background-color: white;
    color: var(--black);
}

.bg-green{
    background-color: var(--green);
    color: var(--white);
}

.bg-grey{
    background-color: var(--grey);
}

.bg-dark-grey{
    background-color: var(--dark-grey);
}

.text-uppercase{
    text-transform: capitalize;
    font-weight: bold;
}

/* Header */
header{
    background-color: var(--black);
    position: fixed;
    height: 90px;
    top: 0;
    width: 100%;
}

/* Main */



/* Hero Section */
#hero{
    margin-top: 90px;
}

.img .avatar{
    width: 70%;
    max-width: 100%;
}


/* Portfolio Section */
.round{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

/* About Section */

/* Contact Section */

/* Footer */
footer{
    color: var(--white);
}

/* Top Footer Section */

/* Sub Footer */
