:root{
    --black: rgba(44, 62, 80,1);
    --green: rgba(26, 188, 156,1);
    --white: rgba(255, 255, 255,1);
    --grey: rgba(58, 84, 109,1);
    --dark-grey: rgba(44, 62, 80,1);

}


body{
    background-color: white;
    color: var(--black);
}

.bg-green{
    background-color: var(--green);
    color: var(--white);
    padding-top: 30px;
    padding-bottom: 30px;
}

.bg-grey{
    background-color: var(--grey);
}

.black-color{
    color: var(--black);
}

.bg-dark-grey{
    background-color: var(--dark-grey);
}

.text-uppercase{
    text-transform: capitalize;
    font-weight: bold;
}

/* Header */
header{
    background-color: var(--black);
    position: fixed;
    height: 90px;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Main */
.star:before, .star::after{
    content:"";
    display: block;
    background-color: var(--white);
    height: 3px;
    width: 40%;
}


.star{
    width: 300px;
    vertical-align: middle;
    align-items: center;
}


.star .fa-solid .fa-star{
    width: 20%;
}


.star-black:before, .star-black::after{
    content:"";
    display: block;
    background-color: var(--black);
    height: 3px;
    width: 40%;
}


/* Hero Section */
#hero{
    margin-top: 90px;
}

.img .avatar{
    width: 30%;
    max-width: 100%;
}


/* Portfolio Section */
.round{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.layover-container {
    cursor: pointer;
}

.layover-container::after {
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, .5);
    font-size: 80px;
    font-weight: 800;
    color: var(--white);
    opacity: 0;
    transition: opacity 500ms;
}

.layover-container:hover::after {
    opacity: 1;
}

/* About Section */

/* Contact Section */
#contact{
    padding-top: 5px;
}


form{
    max-width: 600px;
    margin: 0 auto;
}

.myinput{
    border: 0px;
    border-radius: 0;
    border-bottom: 1px solid black;
}

.mymessage{
    min-height: 50px;
}

.mybtn{
    background-color: var(--green);
    color: var(--white);
}



/* Footer */
footer{
    color: var(--white);
    text-align: center;
}



/* Top Footer Section */
.link-footer{
    color: var(--green);
}


/* Sub Footer */
